<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsyc.goods.mapper.GoodsVideoMapper" >
    <select id="getGoodsVideo" resultType="com.zsyc.goods.entity.GoodsVideo" parameterType="java.lang.String">
        SELECT  sku,title,description,url from goods_vedio WHERE sku=#{sku} limit 1;
    </select>
</mapper>