<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsyc.goods.mapper.GoodsBrandRelationMapper" >


    <insert id="insertBrandList" parameterType="java.util.List">
        insert into goods_brand_relation (brand_code,sku,create_time,create_user_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.brandCode},#{item.sku},#{item.createTime},#{item.createUserId})
        </foreach>
    </insert>

</mapper>