<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsyc.member.mapper.MemberAddressStoreCreditLogMapper" >
    <resultMap id="BaseResultMap" type="com.zsyc.member.entity.MemberAddressStoreCreditLog" >
        <result column="id" property="id" jdbcType="INTEGER" />
    </resultMap>

    <select id="getMemberAddressStoreCreditLog"  resultMap="BaseResultMap">
        select * from member_address_store_credit_log l right join member_address_store_credit c
          on c.store_id = #{storeId} and l.member_address_store_credit_id = c.id
    </select>

</mapper>
