<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsyc.warehouse.mapper.WarehousePackOrderMapper">

<!--后台查找正在等待分拣的子订单id-->
<select id="selectWarehousePackPendingSubId" resultType="com.zsyc.warehouse.entity.WarehousePackOrder">
select order_id from warehouse_pack_order where status="PENDDING" group by order_id;

</select>

    <select id="selectWarehousePackPendingSubIdDone" resultType="com.zsyc.warehouse.entity.WarehousePackOrder">
select order_id from warehouse_pack_order where status="DONE" group by order_id;

</select>

    <update id="updatePackOrderGoodsStatus">
        update  warehouse_pack_order_goods set status=#{status} where id=#{warehouseOrderPackGoodsId}
    </update>

    <select id="selectPackOrderOrderId" resultType="com.zsyc.warehouse.entity.WarehousePackOrder">
        select * from warehouse_pack_order where id=#{subId}
    </select>

<select id="selectBackendWarehousePackOrder" resultType="com.zsyc.warehouse.po.BackendWarehousePackOrder">
    SELECT
 goods_info.`goods_name` AS goodsName,goods_info.`picture` AS img,warehouse_pack_order_goods.`num` AS num,warehouse_pack_order_goods.`unit` AS unit
  ,warehouse_order_goods.`sku` AS sku
FROM warehouse_pack_order,warehouse_pack_order_goods,warehouse_order_goods,goods_info
WHERE warehouse_pack_order_goods.`warehouse_order_goods_id`=warehouse_pack_order.`id`
AND warehouse_pack_order.`status`="PENDDING"
AND warehouse_order_goods.`id`=warehouse_pack_order_goods.`warehouse_pack_order_id`
AND goods_info.`sku`=warehouse_order_goods.`sku`
AND warehouse_pack_order_goods.`order_goods_id`=#{subId}
</select>
<!--根据子订单id查找子订单信息-->
<select id="selectBackendWarehousePackOrderPoo" resultType="com.zsyc.order.entity.OrderSubInfo">
 select  order_no as orderNo,
  consignee as consignee,
  consignee_phone as consigneePhone,
  create_time as createTime
  from order_sub_info where id=#{subId}

</select>


<!--分拣员接单-->
<update id="packOrder">

update  warehouse_pack_order set warehouse_staff_id=#{staffId},status="RECEIVED" where id=#{subId}
</update>

  <!--分拣完成  -->
    <update id="selectWarehousePackPendingSubIdDone">

update  order_sub_info set order_status="PACK" where id=#{subId}
</update>

    <update id="packOrderDone">
        update warehouse_pack_order_goods set status="DONE" where warehouse_pack_order_id=#{subId}
    </update>



<!--分拣子订单商品完成按钮-->
<update id="packOrderDoneStatus">
  update  warehouse_pack_order set status="DONE",done_time=NOW()  where id=#{subId}
</update>

<select id="checkWareHousePackOne" resultType="com.zsyc.warehouse.entity.WarehousePackOrder">
    select id from warehouse_pack_order where status !="DONE" and order_id=#{subId}
</select>
    <select id="checkWareHousePackTwo" resultType="com.zsyc.warehouse.entity.WarehousePackOrderGoods">
    select id from warehouse_pack_order_goods where order_goods_id=#{subId} and status !="DONE"
</select>

<!--根据订单编号查询分拣表的id-->
<select id="selectOrderPackOrderId" resultType="com.zsyc.warehouse.BackEndVo.WareHousePackOrderVo">
    SELECT warehouse_pack_order.`id` as id,
    order_sub_info.order_no as orderNo,
     order_sub_info.consignee_phone as consigneePhone,
     order_sub_info.consignee as consignee
     FROM order_sub_info,warehouse_pack_order WHERE order_sub_info.order_no=#{orderNo} AND warehouse_pack_order.`order_id`=order_sub_info.`id`
</select>

    <!--根据分拣员id查询订单字表id-->
    <select id="selectStaffId" resultType="com.zsyc.warehouse.entity.WarehousePackOrder">
SELECT * FROM warehouse_pack_order WHERE warehouse_staff_id=#{staffId}
group by order_id
</select>
    <select id="selectPackOrderGoodsDoneTime" resultType="com.zsyc.warehouse.entity.WarehousePackOrder">
        select * from warehouse_pack_order where done_time &gt;=#{startTime} and done_time &lt;= #{endTime}
        group by order_id
    </select>

    <select id="selectPackOrderGoodsDoneStatus" resultType="com.zsyc.warehouse.entity.WarehousePackOrder">
        select * from warehouse_pack_order where status=#{status}
          group by order_id
    </select>



    <!--根据子订单id查找子订单信息-->
    <select id="selectOrderSubId" resultType="com.zsyc.order.entity.OrderSubInfo">
    select * from order_sub_info where id=#{subId}
    </select>
    <!--根据订单字表id查询分拣字表的备货字表id-->
    <select id="staffIdOrderId" resultType="com.zsyc.warehouse.BackEndVo.WareHousePackOrderPo">
SELECT
warehouse_pack_order.`order_id` AS orderId,
warehouse_pack_order.`store_id` AS storeId,
warehouse_pack_order.`done_time` AS doneTime,
warehouse_pack_order.`remark` AS remark,
warehouse_pack_order.id AS wareHousePackId,
warehouse_pack_order.warehouse_staff_id AS warehouse_staff_id,
warehouse_pack_order_goods.id AS wareHousePackOrderGoodId,
warehouse_pack_order.`status` AS wareHousePackOrderStatus,
warehouse_pack_order_goods.num AS num,
warehouse_pack_order_goods.`order_goods_id` AS ordergoodsId,
warehouse_pack_order_goods.`unit` AS unit,
warehouse_pack_order_goods.`status` AS WareHousePackOrderGoodsStatus,
goods_info.`sku` AS sku,
goods_info.`goods_name` AS goodsName
 FROM warehouse_pack_order,warehouse_pack_order_goods,order_goods,goods_info WHERE warehouse_pack_order_goods.warehouse_pack_order_id=#{packId}
AND warehouse_pack_order.`id`=warehouse_pack_order_goods.`warehouse_pack_order_id`
AND order_goods.`id`=warehouse_pack_order_goods.`order_goods_id`
AND goods_info.`sku`=order_goods.`sku`



</select>

<select id="selectStaffName" resultType="com.zsyc.warehouse.entity.WarehouseStaff" >
    select * from warehouse_staff where id=#{staffId}
</select>


<select id="selectPack" resultType="com.zsyc.warehouse.entity.WarehousePackOrder">
select * from warehouse_pack_order,order_sub_info

where warehouse_pack_order.order_id=order_sub_info.id

<if test="storeId!=null">
    and  warehouse_pack_order.store_id=#{storeId}
</if>


<if test="staffId!=null">
    and warehouse_pack_order.warehouse_staff_id=#{staffId}
</if>

<if test="startTime!=null">
    and warehouse_pack_order.create_time &gt;=#{startTime}
</if>

    <if test="endTime!=null">
        and warehouse_pack_order.create_time &lt;= #{endTime}
    </if>

<if test="status!=null">
    and warehouse_pack_order.status=#{status}
</if>
<if test="orderNo!=null">
    and order_sub_info.order_no=#{orderNo}
</if>

</select>


<select id="selectWareHouseWareHouseId" resultType="com.zsyc.warehouse.entity.WarehousePackOrder">
    select * from warehouse_pack_order where warehouse_order_id=#{wareId}
</select>

<select id="selectSkuGoodsInfo" resultType="com.zsyc.goods.entity.GoodsInfo">
    select * from goods_info where sku=#{sku}
</select>

    <select id="selectWarehouseAll" resultType="com.zsyc.warehouse.entity.WarehousePackOrder">
        select * from warehouse_pack_order where id=#{subId}
    </select>



<!--根据分拣表id查询分拣字表的信息-->
<select id="WareHousePackOrderPo" resultType="com.zsyc.warehouse.BackEndVo.WareHousePackOrderPo">
   SELECT
warehouse_pack_order.`order_id` AS orderId,
 warehouse_pack_order.`store_id` AS storeId,
 warehouse_pack_order.`warehouse_staff_id` AS warehouseStaffId,
 warehouse_pack_order.`done_time` AS doneTime,
 warehouse_pack_order.remark AS remark,
warehouse_pack_order.`status` AS wareHousePackOrderStatus,
warehouse_pack_order_goods.`num` AS num,
warehouse_pack_order_goods.`unit` AS unit,
warehouse_pack_order_goods.`status`AS WareHousePackOrderGoodsStatus,
warehouse_order_goods.`sku` AS sku,
goods_info.picture as img,
goods_info.`goods_name` AS goodsName
FROM warehouse_pack_order,warehouse_pack_order_goods,warehouse_order_goods,goods_info WHERE warehouse_pack_order_goods.warehouse_order_goods_id=#{id}
AND warehouse_order_goods.`id`=warehouse_pack_order_goods.`warehouse_pack_order_id` AND warehouse_order_goods.`sku`=goods_info.`sku`
AND warehouse_pack_order.id=warehouse_pack_order_goods.warehouse_order_goods_id

</select>


<update id="updatePackOrderStatus">
    update warehouse_pack_order set status=#{status} where id=#{packId}
</update>


    <update id="updateOrderSubStatusPack">
    update order_sub_info set order_status="PACK" where id=#{subId}
</update>

    <update id="updateWarehousePackOrderRemark">
        update warehouse_pack_order set remark=#{remark} where id=#{subId}
    </update>
    <update id="updateWarehousePackOrderShortage">

        update warehouse_pack_order set status="SHORTAGE" where id=#{subId}
    </update>





</mapper>
