<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsyc.admin.mapper.RoleStoreMapper" >
    <resultMap id="BaseResultMap" type="com.zsyc.admin.entity.RoleStore">
        <result column="id" property="id" jdbcType="INTEGER" />
    </resultMap>

    <insert id="insertList">
        insert into sys_role_store(role_id, store_id, create_time, update_time) values
        <foreach collection="list" item="item" index="index"  separator=",">
        (
            #{item},
            #{storeId},
            now(),
            now()
        )
        </foreach>
    </insert>

</mapper>
